<%= form_for(@topic) do |f| %>

  <div>
    <%= f.hidden_field :forum_id %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <%= render 'forails/comments/form', comment: @comment %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
