<title>New Topic in: <%= @topic.forum.name %></title>
<%= stylesheet_link_tag    "forails/application", "forails/comments", :media => "all" %>
<%= javascript_include_tag "forails/application", "forails/comments" %>

<%= render 'forails/forums/location' %>
  
<h3>Create Topic in: <%= @topic.forum.name %></h3>

<%= render 'form' %>

<%= render 'forails/forums/location' %>
