  <title><%= @topic.name %></title>
  <%= stylesheet_link_tag    "forails/application", 'forails/topics', 'forails/comments', :media => "all" %>
  <%= javascript_include_tag "forails/application", 'forails/topics', 'forails/comments' %>

  <%= render 'forails/forums/location' %>

  <%= render 'forails/topics/tools', topic: @topic %>
  
  <% @topic.comments.each do |comment| %>
      <%= render 'forails/comments/comment', comment: comment %>
  <% end %>

  <%= render 'forails/topics/tools', topic: @topic %>

  <%= render 'forails/forums/location' %>