<%= form_for(@forum, url: @forum.persisted? ? admin_forum_path(@forum) : admin_forums_path) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_forum_id %><br />
    <%= f.collection_select :parent_forum_id, Forails::Forum.all - @forum.descendants, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br />
    <%= f.number_field :sequence %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :is_category %>
    <%= f.check_box :is_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
