  <title>Forails</title>
  <%= stylesheet_link_tag    "forails/application", :media => "all" %>
  <%= javascript_include_tag "forails/application" %>

  <%= render 'forails/forums/location' %>
  <%= yield %>
  <%= render 'forails/forums/location' %>